
# Python
/.idea
/__pycache__
/dist
/build
YUVViewer.xml
*.pyc
*.spec

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*
.qmake.stash
*_resource.rc
.qtc_clangd

# QtCreator

*.autosave
/build_debug
/build_release

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

# vscode
/.vscode

# rust
/target

git_tag.inc
git_tag.ci.inc
.DS_Store
