#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/opt/YUVviewer/YUVviewer.png
Name=YUVviewer
Exec=/usr/bin/YUVviewer
Commen=YUVviewer Tools
Categories=Utility;
