Package: yuvviewer
Version: #VERSION#
Architecture: amd64
Section: utils
Depends: 
Recommends: 
Source: yuvviewer
Installed-Size: #SIZE#
Priority: extra
Maintainer: QQxiaoming <2014500726@smail.xtu.edu.cn> zhiliao007 <wenqing.li@aliyun.com>
Description: YUVviewer tools
Homepage: https://github.com/QQxiaoming/YUVviewer
